Package: com.mrricearoni.helloworld
Name: HelloWorld
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Geoff Duong
Author: Geoff Duong
Section: Tweaks
